%div.container.header-block
  %div.row
    %div.col-md-6
      %h1.main-title= t 'admin.main_title'
    %div.col-md-6
      %span.pull-right.logout-button

        %div.locale
          - I18n.available_locales.each do |local|
            - if I18n.locale == local
              = local.to_s.upcase
            - else
              = link_to local.to_s.upcase, locale: local

        = link_to t('admin.logout_button'), destroy_admin_session_path, :method => :delete